extends layout
block content
    h1 Kite Delete
    if (toShow == null)
        h2 No instance to delete
    else
        - let kiteid = toShow._id
        - let kite_color = toShow.kite_color
        - let material = toShow.material
        - let length = toShow.length
        - let actionid = "/resource/kites/" + kiteid
        
        script let actionid = "#{actionid}"
        div
            div.row
                div(class='kiteAttr mr-3') Kite ID is:
                div #{kiteid}
            div.row
                div(class='kiteAttr mr-3') Kite Color is:
                div #{kite_color}
            div.row
                div(class='kiteAttr mr-3') Kite Material is:
                div #{material}
            div.row
                div(class='kiteAttr mr-3') Kite Length is:
                div #{length}
                
    button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete
    button(class="btn btn-secondary m-2" onclick="cancel()") Cancel

    script.
        function cancel() {
        // Go back to the home page for the kites collection
        window.location.href='/kites'
        }

    script.
        function deleteOnid() {
            console.log("starting delete")
            // delete first
            fetch(actionid, {
                method: 'DELETE' // Don't need a body for the delete
            }).then((resp) => {
                return resp.json(); // or resp.text() or whatever the server sends
            }).then((body) => {
                alert("Delete succeded")
                window.location.href='/kites'
            // TODO handle body
            }).catch((error) => {
            // TODO handle error
                alert("Delete failed " + error )
            });
        }